{% extends "base_generic.html" %}
{% block content %}
{% if not user.is_authenticated %}
<h1>{{faculty}}</h1>
{% endif %}
<h1>Workshop(s) in year: {{year}}</h1>
{% for workshop in workshops %}
<div class="jumbotron">
    <p><b>Workshop Topic: </b>{{workshop.topic}}</p>
    <p><b>Date: </b>{{workshop.date}}</p>
    <p><b>Type: </b>{{workshop.workshop_type}}</p>
    <p><b>Location: </b>{{workshop.location}}</p>
    {% if workshop.certificate %}
    <p><b>Certificates: </b><a href="{{workshop.certificate.url}}" target="_blank">Open</a></p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'workshop-update' user.id workshop.pid %}"><button class="btn btn-primary">Edit</button></a>
    <a href="{% url 'workshop-delete' user.id workshop.pid %}"><button class="btn btn-danger">Delete</button></a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}